{% extends 'base.html' %}
{% block title %}个人介绍{% endblock %}
{% block main %}

    <article class="article article-type-page">
<div class="article-inner">
    <header class="article-header">
    <p class="article-title">
      树先生
    </p>
    <br>
    <h1 class="article-title">
      Python全栈工程师
    </h1>
    <hr>
        <p class="article-tag-list-item">手机:18201432222</p>
        <br>
        <p class="article-tag-list-item">邮箱:justcodepy@gmail.com</p>
        <br>
        <br>
    </header>
<div class="article-entry">
     <article class="article-title">教育经历</article>
        <ul>
            <li>2017年9月28日 -- 2017年9月28日 西安科技大学 网络工程专业</li>

            <li>2017年9月28日 -- 2017年9月28日 西安科技大学 技术部部长</li>

        </ul>
</div>
<div class="article-entry">
     <article class="article-title">工作经验</article>


        <article class="article-header">
          2017年9月28日 -- 2017年9月28日 《欢乐大星球 HTML5》 手机游戏
      </article>
            <ul>

           <li>简介：《欢乐大星球 H5》是《欢乐大星球》游戏的 HTML5 版本，基于 Websocket 技术，服务器采用全区全服架构，分布式部署支持平行扩展，无单点进程，并支持在线扩容。</li>

           <li>角色：后台开发工程师。负责 Websocket 接入层开发、游戏功能逻辑开发、性能优化、流量优化、负载均衡等。</li>

           <li>贡献：分别解决了接入层包延时问题、Tornado 空跑 CPU 占用率高的问题，性能瓶颈模块使用 C++ 重写。优化后单进程的每秒并发登录请求和每秒包转发量获得了显著提升。</li>

        </ul>

</div>

<div class="article-entry">
     <article class="article-title">技能</article>
        <ul>

  <li>Web开发：PHP/Hack/Node</li>


  <li>Web框架：ThinkPHP/Yaf/Yii/Lavaral/LazyPHP</li>


  <li>前端框架：Bootstrap/AngularJS/EmberJS/HTML5/Cocos2dJS/ionic</li>

        </ul>
</div>
<div class="article-footer">
具有很强的求知欲和动手能力，喜欢尝试，玩过树莓派、焊过电路板，玩过 Openwrt，搭建过 ss，自学过日语，刷机装系统都很拿手。
</div>
</div>
</article>



{% endblock main %}